# Bytecode / cache
__pycache__/
*.pyc
*.pyo

# Dati locali o troppo grandi
data/
datasets/
models/
.virtual_documents/
src/


# Ambienti e Anaconda
anaconda_projects/
env/
.venv/

# Checkpoints Jupyter
.ipynb_checkpoints/

# File di sistema
.DS_Store
Thumbs.db


